.cuerpo{
    padding: 10px 40px 15px;
    ion-input{  font-size: smaller;
     }
   
}
.form3{
    padding: 8px 40px 16px;
    text-align: center;
    font-family: serif;
}
.contorno{
    padding: 10px 40px 0px;
  }

  .colo{
      ion-button{ background-color: #c1cac4; }
   
  }

  ion-title{
      font-family: menu;
  }