div.iner
.center {
    text-align: center;
    margin: 0px 0px;
    padding {
        color: #70cde9; 
    }
  }

  .bordes {
     --border-inline-color: #70cde9;
     border: 0px !important;
     bottom: 0px;
      border {
         background: #70cde9;
      }
          margin-bottom: unset;
  }
  .icon  {     
    width:200% !important;  
    height : 200% !important;  
    max-width: 100px !important;  //any size
    max-height: 100px !important; //any size 
    overflow: hidden !important;
    border: 2px solid #12abda !important;
    //padding: .5em;
    }
    .marco {
        padding: 25px 10px 10px;
        height: 160px;
        color: rgb(22, 21, 21);
        font-size: 10px;
    
      }

      .nombre {
        padding-left: 0px;
        padding-right: 0px;
        font-size: small;
        padding: 0px 0px 0px 0px
    }

    .nombre1 {
     margin-bottom: 0px;
     margin-top: 0px;
    }

  
    .fondo{
        background-color: #bce9f8;
        background-size: cover;
        width:100%;

       
        
      ion-item {
        --border-color:  #bce9f8;

      } 
        padding {
            color: #bce9f8;
        }
        ion-toolbar {
            background: #6ecff0;
        }
    }

    .icon1 {
        padding: 0px 0px 0px 10px;
        font-size: 20px;
   
  }
   //definir el tamano del modal
   .my-custom-modal-css .modal-wrapper {
    height: 80%;
    top: 10%;
    width: 90%;
    position: absolute; 
    display: block;  
 }