.my-custom-menu {
    --width: 500px;
  }
.bordes{
  padding: 50px 10px 0px 10px;
}
#div1{
  background-image: url('/assets/fondolog1.png');
  background-size: cover;
  background-position: center ;
  height:100%;
  width: 100%;
}


.text{
  color: #312d79;
}

.espacio {
  padding: 60px 0px 0px 0px;
}