// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
.menu-header {
    padding: 10px 10px 10px 0px;
    background-image: url('../assets/fond6.jpg');
    background-size: cover;
    height: 20%;
    color: rgb(255, 255, 255);
    .name {
      text-align: center;
      margin-top: 3px;
      font-weight: 500;
      margin-bottom: 3px;
    }
    .e-mail {
      text-align: center;
      margin-top: 0;
      margin-bottom: 5px;
    }
  }
  .user-avatar {
    //max-width: 125px;height: 125px;
    padding: .5em;
    height: 12vh;
  }
  .round {
    border-radius: 50%;
  }
  .item-avatar  {     
    width:200% !important;  
    height : 200% !important;  
    max-width: 70px !important;  //any size
    max-height: 70px !important; //any size 
    //padding: .5em;
    }
    .active {
      --ion-text-color: var(--ion-color-primary);
  
      ion-icon {
          --ion-text-color-rgb: var(--ion-color-primary);
      }
  }
  
  .parent-active {
      font-weight: 500;
  }
  
  .sub-item {
      padding-left: 20px;
      font-size: small;
  }
 

 .bar-header {
  border: 0px !important;
  bottom: 0px;
}



.scroller {
 
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;  // IE 10+
  scrollbar-width: none;  // Firefox
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none; // Safari and Chrome
  }
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

.letra1 {
  font-size: 15px;
  .icon-inner, svg {
    display: none;
    
  }
}
.icon-inner {
  display: none;
  height: 100%;
  width: 100%;
}
.letra {
 
  color: rgb(105, 106, 121);
  font-size: 15px;
}

.header-md:after {
  left: 0;
  bottom: 0px;
}
//centrar hori y vert
.centro {
  height: 70%;
  width: 100%;
  display: flex;
 justify-content: center;
 align-items: center;

}