<ion-header>
  <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Calendario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 

  <ion-card>
      <ion-card-header class="btn" button (click)="collapseCard = !collapseCard">
        <ion-card-title class="texto1">
          <ion-label > Agregar Evento  </ion-label>
         
        </ion-card-title>
        <ion-icon name="add" slot="end"></ion-icon>
      </ion-card-header>
      
      <ion-card-content *ngIf="collapseCard">
        <ion-item>
          <ion-input type="text" placeholder="Titulo" [(ngModel)]="event.title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Descripción" [(ngModel)]="event.desc"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Inicio</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Fin</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Todo el dia?</ion-label>
          <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
        </ion-item>
        <ion-button fill="outline" expand="block" (click)="addEvent()" [disabled]="event.title == ''">Add Event</ion-button>
   
      </ion-card-content>
    </ion-card>
   
    <ion-row>
      <!-- Change the displayed calendar mode -->
      <ion-col size="4">
        <ion-button expand="block" [color]="calendar.mode == 'month' ? 'tertiary' : 'secondary'" (click)="changeMode('month')">Mes</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="block" [color]="calendar.mode == 'week' ? 'tertiary' : 'secondary'" (click)="changeMode('week')">Semana</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="block" [color]="calendar.mode == 'day' ? 'tertiary' : 'secondary'" (click)="changeMode('day')">Dia</ion-button>
      </ion-col>
   
      <!-- Move back one screen of the slides -->
      <ion-col size="4" text-left>
        <ion-button fill="clear" (click)="back()">
          <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <!-- Letra en el centro -->
      <ion-col size="4" class="texto">
         <ion-label class="palabra"> {{ titulo }} </ion-label>
        </ion-col>
      <!-- Move forward one screen of the slides -->
      <ion-col size="4" text-right>
        <ion-button fill="clear" (click)="next()">
          <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
   
      <calendar
  [eventSource]="eventSource" 
  [calendarMode]="calendar.mode" 
  [currentDate]="calendar.currentDate"
  (onEventSelected)="onEventSelected($event)"
  (onTitleChanged)="onViewTitleChanged($event)"
  (onTimeSelected)="onTimeSelected($event)" 
  startHour="6"
  endHour="20"
  step="30"
  startingDayWeek="1">
  </calendar>


</ion-content>
