.form1{
 
    padding: 10px 10px 5px;
    background-color: #1a83c8;
   
    ion-toolbar{
        background: #1a83c8;
    }
    padding {
        color: #1a83c8;
    }

  
 .fondo{

   background-color: #ffffff; 
 }
    
}
.form2{
    padding: 10px 20px 8px;
    --background: #f0e1c3;
}
.form3{
    background-color: white;
    padding: 16px 0px 16px;
    text-align: center;
 
 
    
    h1 {
        color: #1a83c8;
        margin-top: 10px;
        font-size: 30px;
        font-family: serif;
       // background:#1a83c8;
       
    }
    
}
