.bg-img{
   // background-image: url('../home/ima/fondo1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.centrado{
    text-align: center;
  }
 